parameters:
	scanFiles:
		- %rootDir%/../../../tests/bootsrap.php
	scanDirectories:
		- %rootDir%/../../../tests/src/
	ignoreErrors:
		- '~return type has no value type specified in iterable type Nette\\Utils\\Html\.$~'
		- '~class Container~'
		- '~has invalid type Container~'
