php:
    date.timezone: Europe/Prague

application:
	scanDirs: FALSE

extensions:
	assetsExtension: h4kuna\Assets\DI\AssetsExtension

assetsExtension:
	version: '2017-04-17'
	debugMode: FALSE
	wwwDir: %appDir%