php:
    date.timezone: Europe/Prague

application:
	scanDirs: FALSE

extensions:
	assetsExtension: h4kuna\Assets\DI\AssetsExtension

assetsExtension:
	wwwDir: %appDir%
	# optional
	debugMode: FALSE
	# tempDir: %tempDir%
	# cacheBuilder: \CacheBuilder # default NULL