php:
    date.timezone: Europe/Prague

application:
	scanDirs: FALSE

services:
	myRequestFactory: Salamium\Testinium\HttpRequestFactory
	http.request: @myRequestFactory::create('')

extensions:
	assetsExtension: h4kuna\Assets\DI\AssetsExtension

assetsExtension:
	wwwTempDir: %appDir%/temp
	externalAssets:
		'sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=': https://code.jquery.com/jquery-3.2.1.min.js
		- %appDir%/../vendor/tracy/tracy/src/Tracy/assets/BlueScreen/bluescreen.js
	# optional
	debugMode: FALSE
	# tempDir: %tempDir%
	# cacheBuilder: \CacheBuilder # default NULL