php:
    date.timezone: Europe/Prague

application:
	scanDirs: FALSE

services:
	myRequestFactory: Salamium\Testinium\HttpRequestFactory
	http.request: @myRequestFactory::create('')

extensions:
	assetsExtension: h4kuna\Assets\DI\AssetsExtension
